#start {
    background-color: #fe5652;
    color: #EEEEEE;
}

img {
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 2;
    left: 0%;
}

.transbox {
    position: absolute;
    opacity: 0.6;
    background-color: #ffffff;
    z-index: 2;
    width: 960px;
    height: 100%;
}


#maps {
    position: relative;
    z-index: 6;
    opacity: 6;
}




body {
    padding:0;
    margin:0;
    height: 100%;
}
canvas {
     position: absolute;
     z-index: 1;
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
    overflow:scroll;

}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}

#gridParent {
    display:none;
}
#gridChild {
    margin: 0 auto;
    background-color: #EEEEEE;
    border-left: solid;
    border-left-color: rgb(15, 1, 1);
    border-bottom: solid;
    border-bottom-color: rgb(15, 1, 1);
    height: 150px;
    width: 450px;
    align-items: center;
    display: flex;
}
.bar-1 {
    color: white;
    background-color: #fe5652;
    width: 50%;
    height: 35px;
    border-radius: 5px;
}
#chartTitle {
    top: -30px;
    text-align: center;
    font-size: 22px;
    color: #fe5652;
    margin-bottom: 15px;
}
#chartSubtitle {
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}